{% extends 'base.html' %}

{% block content %}
<h1>Зоны ответственности инженеров</h1>
<h3>Инженер: Алферов Ю.Г.</h3>
<table class="table">
  <tr>
    <th>Здание</th>
    <th>Аудитории</th>
  </tr>
  <tr>
    <td>Ленина 114/2</td>
    <td>Классы: 1, 13, 17, 22, 23<br>
Кабинеты:  5,10,11</td>
  </tr>
</table>

<h3>Инженер: Беззубкова В.С</h3>
<table class="table">
  <tr>
    <th>Здание</th>
    <th>Аудитории</th>
  </tr>
  <tr>
    <td>Ленина 114</td>
    <td>Классы: 1, 13, 17, 22, 23<br>
Кабинеты:  5,10,11</td>
  </tr>
</table>
{% endblock %}
