<table class="table table-bordered table-condensed table-hover">
  <tr><th>№</th><th>Заявка</th><th>Создано</th><th>Аудитория</th><th class="hidden-xs">Пользователь</th></tr>
 {% for ticket in tickets %}
  <tr class="{{ticket.status_style}}"><td><a href="/ticket/{{ticket.id}}">{{ticket.id}}</a></td><td><span class="label label-info text-uppercase">{{ticket.status_text}}</span> <span class="label label-info text-uppercase"> {{ticket.category_text}}:</span> <a href="/ticket/{{ticket.id}}">{{ticket.text}}</a></td><td>{{ticket.datetime_add|date("d M")}}<br/>{{ticket.datetime_add|date("H:i")}}</td><td>{{ticket.aud}}<br />{{ticket.computer_name}}</td><td class="hidden-xs">{{ticket.fio}}</td></tr>
  {% endfor %}
</table>
